.header-div {
  /* background-color: lightblue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid; */
  height: 70px;
  padding: 0 8rem;
  position: absolute;
  width: 100%;
  background-color: #101827;
  /* position: sticky; */
  top: 0px;
  z-index: 100;
  color: white;
}

.logo {
  /* border: 2px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo > .logo-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

.nav-bar > ul {
  display: flex;
  align-items: center;
  list-style: none;
  /* text-decoration: none; */
  /* border: 2px solid; */
  gap: 1.5rem;
}

.nav-bar > ul > li:first-child > a {
  color: #3c82f6;
}

.nav-bar > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

a:hover {
  color: #1d4ed8;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #2463eb;
  color: white;
  border-radius: 7px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.8rem;
}
button {
  border: none;
}

button:hover {
  background-color: transparent;
  /* color: #2463EB; */
  /* border: 2px solid #2463EB; */
  border: none;
  transition: 0.3s ease-in-out;
  outline: none;
  background-color: #0240eb;
}
