.quote-div{
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    margin: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: #1F2937;
    padding: 2rem 4rem;
    text-align: center;
    margin: 4rem 0;

}
.quote-div>p{
    color: white;
    font-size: 30px;
    font-weight: 500;

}
.quote-div>span{    
    color: #9CA3AF;
}